


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 140%;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #41e3ff;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
}

.form {
    height: 1200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.507);
    backdrop-filter: blur(100px);
    margin: 10px auto;
    position: relative;
    border: 1.5px solid #596aff;
    border-radius: 0px;
}

.heading {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.image img {
    height: 90px;
    width: 140px;
    display: flex;
    position: relative;
    margin: 0px auto;
}

.details {
    height: 92%;
    width: 100%;
    position: absolute;
    padding-left: 15px;
    margin-top: 10px;
}

.label {
    display: block;
    margin-top: 12px;
    font-size: 17px;
    font-weight: 300;
    color: #1e2a6d;
}

.input {
    height: 40px;
    width: 470px;
    margin-top: 8px;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #1d2863;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    opacity: .5;
}

.input-1 {
    height: 15px;
    width: 20px;
    margin-top: 8px;
    border-radius: 0;
}

.label-1 {
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    position: relative;
    bottom: 2px;
    font-weight: 300;
}

.btn {
    height: 40px;
    width: 470px;
    color: #fff;
    background-color: #24378a;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0px;
}